
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Inicio</title>
    
</head>
<body>
    
    <!-- Barra de opciones -->
    <div class="barraOpciones">
        <!-- Nombre de la aplicacion "Contar Stock" -->
    </div>
    <div class="container titulo-inicio  ">
        <h1 >CONTAR STOCK</h1>
    </div>
 
 
    <div class="container seccion-productos">
        <div class="acciones reponer"><a href="/"><h2>Reponer</h2></a></div>
        <div class="acciones pedidos"><a href="int/pedir.html"><h2>Faltantes</h2></a></div>
        <div class="acciones deposito"><h2>Depósitos</h2></div>
    </div>
    
    <footer> 
        <p>BETA 0.1</p>
    </footer>
    <!-- Scripts -->
    <script src="app.js"></script>
</body>
</html>
