<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %>
    <title>Conexion con index.ejs</title>
</head>

<body>

  <!-- Navegacion -->

<div class="navegacion  mb-1">

  <div class="titulo-reponer  py-1" >
    <a class="m-auto" href="/"><img src="../img/atrasIcon.svg" height="32px" alt="back" ></a>
      <p class="m-auto ">- PRODUCTOS A REPONER -</p>
      <a class="m-auto" href="/"><img src="../img/siguienteIcon.svg" height="32px" alt="back" ></a>
  </div>
   
 </div>

<!-- Contenido principal -->

<div class="contenedor-marcas mt-1 ">


  <div class=" productos-contenedor">

    <div class="marca-contenedor px-2 py-1 ">
      <img src="../img/icoNotaOff.svg"  alt="" >
      <h3>Marca(1)</h3>
    </div>

    
    <div class="fila-producto container">

      <p class="text-center nombre-producto">NOMBRE(2)</p>

        <p >DETALLE(3) VOLUMEN(4) <span >C(5)</span></p>

    </div>
    
  </div>
  
  <!-- Contenedor del articulo -->
  <div class="  productos-contenedor">

    <!-- Contenedor del encabezado (nombre de la marca) -->
    <div class=" marca-contenedor px-2 py-1">
  <!-- Parte 1 -->
      <div class="d-flex flex-grow-1  align-items-center">
      <img src="../img/icoNotaOff.svg"  alt="" >
      <h3>Casablanca</h3>
    </div>
    <!-- Parte 2 -->
  
      <button type="button" class=" d-flex  my-1 me-2 align-items-center  btn-marca" data-bs-toggle="modal" data-bs-target="#exampleModal">
             +Productos
      </button>
      <button  class="btn-marca2" type="button ">
      <img  src="../img/iconoEliminar.svg" alt="" height="24px" >
    </button>
      </div>

    <!-- Contenedor del cuerpo (Nombre especifico del producto) -->
    <div class="container fila-producto">
      <!-- Nombre especifico del producto -->
      <p class="text-center nombre-producto mb-1">Multi-Accion 3-1</p>
      <!-- Detalles de los productos y sus cantidades -->
      <p>Blanco Satinado 4L <span >4</span></p>
      <p>Blanco Mate 4L <span >2</span></p>
      <p>Azul Traful 1/2L <span >8</span></p>
      <p>Tabaco 1L <span >12</span></p>
    </div>
    <!-- Fin del contenedor del articulo -->
  </div>


  
  <%- include ('partials/formulario.ejs') %>
  
</div>


<!-- Button trigger modal -->
<button type="button" class="btn d-flex  my-1 align-items-center  btn-reponer" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  AGREGAR ARTICULO <span class="ms-2">+</span>
</button>

    <div class="container footer">

    </div>



    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

      


      <script src="../js/events.js"></script>
</body>

</html>