$color1: #ffa602;
$color2: #C24877;
$color3: #2CBFB9;
$color4: #10051C;
//Botones
$color5: rgba(131, 15, 59, 0.4);
$color6: rgba(131, 15, 59, 1);

$fuente1:'Montserrat Subrayada', sans-serif;
$fuente2: 'Sarpanch', sans-serif;